:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196F3; 
  --background-color: #2F303A;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}

.title {
  color: var(--title-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.link-current {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

.accent-white {
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========HEADER========== */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var( --title-text-color);
}

.nav,
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover, 
.menu-link:focus,
.menu-link:active {
  color: var(--accent-color);
}

/* =========HERO========== */

.hero {
  background:var(--background-color);
  align-items: center;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--secondary-text-color);
  background: var(--accent-color);

  cursor: pointer;
}

.features-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.works-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: #F5F4FA;
}

.team-list-item-name,
.team-list-item-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-item-name {
  font-weight: 500;
}

/* =========FOOTER========== */

.footer {
  background: var(--background-color);
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active,
.footer-address-item-map {
  color: var(--secondary-text-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-item-email,
.footer-address-item-tel {
  color: rgba(255, 255, 255, 0.6);
}


/* =========PORTFOLIO PAGE========== */

/* =========PROJECTS========== */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: #F5F4FA;
  border-radius: 4px;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.projects-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}